<div style="padding: 10 10;">
  <div *ngFor="let row of board" class="grid-container" >
    <div *ngFor="let tile of row" class="grid-item">
      <div *ngIf="tile.isMine; else notMine">
        <img style="width: 50px;" src='https://w7.pngwing.com/pngs/570/659/png-transparent-microsoft-minesweeper-land-mine-minesweeper-classic-fr-windows-minesweeper-video-game-snout-minesweeper-thumbnail.png' />
      </div>

      <ng-template #notMine>
        {{tile.neighbourMines}}
      </ng-template>
    </div>


  </div>

</div>
